// skusim skopirovat sidebar z SBAdmina. Zda sa mi funkcnejsi


// These imports work only when sb-admin package installed as a package in your project!
//add to package.json*
//"startbootstrap-sb-admin": "git+https://github.com/StartBootstrap/startbootstrap-sb-admin.git",
//"startbootstrap-sb-admin-2-bs5": "^4.1.5-beta.8"
//*

// Import Custom SCSS
@import "startbootstrap-sb-admin/src/scss/_global.scss";
//@import "startbootstrap-sb-admin-2-bs5/scss/global";
//@import "startbootstrap-sb-admin-2-bs5/scss/mixins";
//@import "startbootstrap-sb-admin-2-bs5/scss/sb-admin-2";

//// Layout
@import "startbootstrap-sb-admin/src/scss/layout/authentication.scss";
@import "startbootstrap-sb-admin/src/scss/layout/dashboard-default.scss";
@import "startbootstrap-sb-admin/src/scss/layout/dashboard-fixed.scss";
@import "startbootstrap-sb-admin/src/scss/layout/error.scss";

//// Navigation
@import "startbootstrap-sb-admin/src/scss/navigation/nav.scss";
@import "startbootstrap-sb-admin/src/scss/navigation/topnav.scss";
@import "startbootstrap-sb-admin/src/scss/navigation/sidenav/sidenav.scss";
@import "startbootstrap-sb-admin/src/scss/navigation/sidenav/sidenav-dark.scss";
@import "startbootstrap-sb-admin/src/scss/navigation/sidenav/sidenav-light.scss";

//@import "startbootstrap-sb-admin-2-bs5/scss/navs/sidebar";

.sb-sidenav-menu {
  .collapse, .collapsing {
    background-color: $theme-color-dark;
  }

  .nav-link:hover {
    color: $white !important;
  }
}

#sidebarToggle, #sidebarToggle:active, #sidebarToggle:hover, #sidebarToggle:active, #sidebarToggle:focus, #sidebarToggle:visited {
  border:0 !important;
}
